body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

header {
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 4rem 3rem;
    grid-template-areas: 'I T' 'I S';
    background-color: #3ff;
    color: #000;
    height: 7rem;
    align-items: center;
    padding: 1rem;
}

.main-title {
    font-size: 4rem;
    grid-area: T;
    margin: 0 1rem;
}

.logo {
    display: block;
    grid-area: I;
    height: 100%;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.subtitle {
    font-size: 2rem;
    grid-area: S;
    margin: 0 1rem;
}

nav {
    margin: 4rem;
    padding: 0.2rem 2rem;
    background-color: #e5e5e5;
    color: #000000;
}

nav ul {
    line-height: 2;
}

nav a {
    color: #000000;
    text-decoration: underline dotted;
}

nav a:active {
    color: #555555;
}

main {
    margin: 4rem;
    text-align: justify;
}

footer {
    margin: 1rem -0.5rem -1.5rem;
    padding: 1rem 2rem;
    background-color: #0d0d0d;
    color: #fcfcfc;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
}

a {
    color: #146BCC;
    font-weight: 700;
}

a:active {
    color: #0C417D;
}

